<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>zhanshi</title>
</head>
<body>
	
	姓名:{$name|default="kongkong"}
	性别:
	<if condition=" $sex eq 1 ">男<else />女</if>

	当前页码:{$Think.get.page}
	<br>


	<table>
		<tr>
			<td>商品id</td>
			<td>商品名称</td>
		</tr>
		<foreach name="data" item="vol">	
			<tr>
				<td>{$vol.id}</td>
				<td>{$vol.goods_name}</td>
				<td>{$vol.goods_create_time|date="Y-m-d H:i:s",###}</td>
				<td>{:date("Y-m-d H:i:s", $vol['goods_create_time'])}</td>
			</tr>
		</foreach>
	</table>
	<br>

</body>
</html>