<!-- 上 -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown">
                    <a href="__PUBLIC__/Admin/#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-white"></i> admin
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="__PUBLIC__/Admin/javascript:void(0);">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="__PUBLIC__/Admin/javascript:void(0);">安全退出</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" href="__PUBLIC__/Admin/index.html"><span class="first">后台管理系统</span></a>
            <ul class="nav">
                <li class="active"><a href="__PUBLIC__/Admin/javascript:void(0);">首页</a></li>
                <li><a href="__Model__/Index/index">系统管理</a></li>
                <li><a href="__PUBLIC__/Admin/javascript:void(0);">权限管理</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- 左 -->
<div class="sidebar-nav">
    <a href="__PUBLIC__/Admin/#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>权限管理</a>
    <ul id="error-menu" class="nav nav-list collapse">
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">管理员列表</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">管理员新增</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">角色管理</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">权限管理</a></li>
    </ul>
    <a href="__PUBLIC__/Admin/#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-exclamation-sign"></i>商品管理</a>
    <ul id="accounts-menu" class="nav nav-list collapse in">
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">商品列表</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">商品新增</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">商品类型</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">商品分类</a></li>
    </ul>
    <a href="__PUBLIC__/Admin/#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-exclamation-sign"></i>订单管理</a>
    <ul id="accounts-menu" class="nav nav-list collapse">
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">订单列表</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">订单新增</a></li>
    </ul>
    <a href="__PUBLIC__/Admin/#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-exclamation-sign"></i>会员管理</a>
    <ul id="accounts-menu" class="nav nav-list collapse">
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">用户列表</a></li>
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">用户新增</a></li>
    </ul>
    <a href="__PUBLIC__/Admin/#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-exclamation-sign"></i>系统管理</a>
    <ul id="dashboard-menu" class="nav nav-list collapse">
        <li><a href="__PUBLIC__/Admin/javascript:void(0);">密码修改</a></li>
    </ul>
</div>